gradio
pillow
tqdm
fairscale==0.4.13
open_clip_torch
timm>=1.0.0
transformers==4.57.3
sentencepiece
protobuf
hf_xet
insightface>=0.7.3
opencv-python-headless>=4.9.0
git+https://github.com/openai/CLIP.git
